@import 'fonts/bootstrap.css';
@import 'reset.css';

:root {
  --text-color: white;
  --margin: 1.35rem;
  --radius: 15px;
  --primary-font-family: 'bd_flukeregular', sans-serif;
  --primary-color: rgba(255, 153, 0, 1);
  --secondary-color: rgba(255, 244, 0, 1);
}
