@import 'styles.base.css';

#root {
  background: #666;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

#root a {
  font-family: sans-serif;
  color: white;
}
#root a:hover {
  color: red;
}
