.root {
  width: 100%;
  display: flex;
  flex-flow: column;
}

button {
  color: var(--text-color);
  font-family: var(--primary-font-family);
  font-size: 3rem;
  padding: var(--margin);
  margin: var(--margin);
  background: linear-gradient(
    to bottom,
    var(--secondary-color) 0%,
    var(--primary-color) 100%
  );
  border: thin solid white;
  border-radius: var(--radius);
}
