.root {
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font-family);
  font-size: calc(50vw / 10);

  color: var(--text-color);
  text-shadow: 2px 2px #000;
  letter-spacing: 0.66em;
  background-color: rgba(255, 255, 255, 1) 50%;
  border-radius: 15px;
}

.root h1 {
  display: flex;
  justify-content: center;
}
